<h2>List of Owners</h2>
<h3><%= notice %></h3>
<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Company</th>
    </tr>
  </thead>

  <tbody>
    <% @owner.each do |owner| %>
      <tr>
        <td><%= owner.first_name %></td>
        <td><%= owner.last_name %></td>
        <td><%= owner.email %></td>
        <td><%= owner.company %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<br>
<h3><%= notice %></h3>
<%= link_to 'Add Owner', new_owner_path %>
