<h1>Add Owner</h1>

<%= simple_form_for(@owner) do |f| %>
  <%= f.input :first_name, label: 'First Name' %>
  <%= f.input :last_name, label: 'Last Name' %>
  <%= f.input :email %>
  <%= f.input :company %>
  <%= f.button :submit, 'Save Owner' %>
<% end %>
<br>
<%= link_to 'Back to Home', root_path %>


