<p><strong>First Name</strong</p>
<%= @owner.first_name %>

<p><strong>Last Name</strong</p>
<%= @owner.last_name %>

<p><strong>Email</strong</p>
<%= @owner.email %>

<p><strong>Company</strong</p>
<%= @owner.company %>

<br>
<%= link_to 'Back to Home', properties_path %>

