<p><strong>Address</strong</p>
<%= @property.address %>

<p><strong>City</strong</p>
<%= @property.city %>

<p><strong>State</strong</p>
<%= @property.state %>

<p><strong>Zip Code</strong</p>
<%= @property.zip %>

<p><strong>Description</strong</p>
<%= @property.description %>
<br>
<%= link_to 'Back to Home', cars_path %>

