<p><strong>Address</strong></p>
<%= @property.address %>

<p><strong>City</strong></p>
<%= @property.city %>

<p><strong>State</strong></p>
<%= @property.state %>

<p><strong>Zip Code</strong></p>
<%= @property.zip %>

<p><strong>Description</strong></p>
<%= @property.description %>

<p><strong>Owner</strong></p>
<%= @property.owner_id %>


<br>
<%= link_to 'Back to Home', properties_path %>

